
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

*{
  font-family: 'Changa', sans-serif;

}

body {
  background-image: url('/img/background.png');
  background-size: cover;
  background-attachment: fixed;
}

.button-nueva{
  font-size: 1.5rem;
}
.botonmas{
 background-color: #778fb3;
  color: azure;
}
.botonmas:hover{
  background-color: #778fb3;
   color: azure;
   
 }


.card-icons i{
  color: #778fb3;
  margin:2em 1em;
}
.shadow-inside {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  
}

.color-rojo{
  background-color: #da3044;
}

.card-square {
  position: relative;
  overflow: hidden;
  background-color: #ffffff84;
  backdrop-filter: blur(5px);
}
.card-square::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.card-square .card-body {
  position: absolute;
  padding: 2em;
}
.card-link{
  margin-bottom: 1em;
}
.card-icons .card-link i {
  font-size: 1.5rem;
  
}
.card-custom:hover {
  transform: scale(1.1);
}

.card-footer i {
  transition: transform 0.3s;
  
}

.card-footer i:hover {
  transform: scale(1.2);
}

footer{
  background-color: #2b2d42;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}

.black{
  background-color: black;
  box-shadow: 2px 2px 0px rgba(1, 1, 1, 0.5);
}
.red{
  background-color: red;
  box-shadow: 2px 2px 0px rgba(1, 1, 1, 0.5);
}
.yellow{
  background-color: yellow;
  box-shadow: 2px 2px 0px rgba(1, 1, 1, 0.5);
}
.green{
  background-color: green;
  box-shadow: 2px 2px 0px rgba(1, 1, 1, 0.5);
}
.blue{
  background-color: blue;
  box-shadow: 2px 2px 0px rgba(1, 1, 1, 0.5);
}
.pink{
  background-color: pink;
  box-shadow: 2px 2px 0px rgba(1, 1, 1, 0.5);
}
.purple{
  background-color: purple;
  box-shadow: 2px 2px 0px rgba(1, 1, 1, 0.5);
}
.circle:hover {
  transform: scale(1.1);
}

