
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

*{
  font-family: 'Changa', sans-serif;

}


body {
  background-image: url('../img/background.png');
  background-size: cover;
  background-attachment: fixed;
}

.botonvolver{
  background-color: #778fb3;
  border: none;
}
.botonvolver:hover{
  background-color: #778fb3;
  border: none;
}
.contenedor-dia {
  display: flex;
  flex-direction: column;
  min-height: 40em;
  min-width: 25em;
  word-wrap: break-word;
  background-color: #fafafa87;
  backdrop-filter: blur(8px);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.color-rojo{
  background-color: #d90429;
}

.color-rojo2{
  color: #fff;
  background-color: #ef233c;
  
}
.color-rojo2:hover{
  background-color: #d90429;
  color: #fff;
  box-shadow:  1px 1px 10px rgba(255, 71, 71, 0.8);
}
.contenedor-dia .card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.contenedor-dia .card-body {
  flex: 1 1 auto;
  padding: 1rem;
  
}

.contenedor-dia .card-footer {
  padding: .5rem 1rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}
.zone-bottom{
  min-height: 200px;
 
  box-shadow: inset 0px 0px 10px rgba(98, 98, 98, 0.338);
  background-color: rgba(110, 110, 110, 0.104);
  margin-top: 2em;
  
}
.card-header {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2b2d42;
}


.borde-verde {
  border-color: #00cc00;
}
.form-check-input:checked {
  background-color: green;
  border-color: green;
}
.botonmas{
  --bs-btn-bg: #778fb3;
  --bs-btn-border-color: #778fb3;
  color: azure;
}

/* Estilos para la barra de desplazamiento en Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #7796b38c;
  border: none;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}
